In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

1. One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [ ]:
'''H0 = mean packing time for the new machine >= mean packing time for the old machine 
H1: mean packing time of new machine < mean packing time for the old machine
'''

In [48]:
machine = pd.read_csv('files_for_lab/machine.txt', encoding='utf-16', sep='\t    ', engine='python')

In [49]:
machine

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [50]:
old_mean = machine['Old machine'].mean()

In [52]:
st.ttest_1samp(machine['New machine'], old_mean)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [55]:
print('p value (single tailed): ',st.ttest_1samp(machine['New machine'],old_mean)[1]/2)

p value (single tailed):  0.00034831880383795163

The p value is .000348 which is less than .05 and the statistic is negative, so we can reject the null hypthosis. Yes, the data provides sufficient evidence that the new machine is faster than the old machine.

2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [59]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')

In [60]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
''' H0: defense score = attack score
H1: defense score != attack score
'''

In [61]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

The p value is less than .05 so we can reject the null hypothesis. There is a statistically significant difference between the Defense score and the Attack score.

# OPTIONAL PART | Inferential statistics - ANOVA

Part 1: In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

    State the null hypothesis
    State the alternate hypothesis
    What is the significance level
    What are the degrees of freedom of model, error terms, and total DoF

In [62]:
data = pd.read_excel('files_for_lab/anova_lab_data.xlsx')

In [65]:
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [ ]:
'''H0: There is not a statistically significant difference in mean etching rate for different levels of power
H1: There is a statistically significant difference in mean etching rate for different levels of power. 

The significance level is 5%.

degrees of freedom is 2 because there 3 levels of power
df1 = number of levels of independent variable - 1

total DoF is 11 because there are 14 observations and 3 levels
df2 = number of observations - number of levels of independent variable
'''

Part 2

    In this section, use the Python to conduct ANOVA.
    What conclusions can you draw from the experiment and why?

In [68]:
data['power_count'] = data.groupby('Power ').cumcount()
data

   Power   Etching Rate  power_count
0   160 W          5.43            0
1   180 W          6.24            0
2   200 W          8.79            0
3   160 W          5.71            1
4   180 W          6.71            1
5   200 W          9.20            1
6   160 W          6.22            2
7   180 W          5.98            2
8   200 W          7.90            2
9   160 W          6.01            3
10  180 W          5.66            3
11  200 W          8.15            3
12  160 W          5.59            4
13  180 W          6.60            4
14  200 W          7.55            4

In [70]:
data_pivot = data.pivot(index='power_count', columns='Power ', values='Etching Rate')
data_pivot

Power        160 W  180 W  200 W
power_count
0             5.43   6.24   8.79
1             5.71   6.71   9.20
2             6.22   5.98   7.90
3             6.01   5.66   8.15
4             5.59   6.60   7.55

In [72]:
st.f_oneway(data_pivot['160 W'],data_pivot['180 W'],data_pivot['200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
# The p value is less than .05, so we can reject the null hypothesis. 
# There is a statistically significant difference in the mean etching rate for different levels of power.
# Changing the power of the plasma beam does have an effect on the etching rate.